// Colors
  // main
  $yellow: #FF9F1C;
  $red: #FF4040;
  $green: #2EC4B6;

  // grey
  $dark: #0A1014;
  $grey: #1B2329;
  $midgrey: #353F4C;
  $lightgrey: #7A8C99;
  $white: #fff;

// fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$regular: 400;
$medium: 500;
$bold: 700;

$sans-serif: 'Roboto', sans-serif;

