@import './variables.scss';
@import './settings.scss';
@import './mixin.scss';
@import './layout.scss';


.search {
  border: 1px solid $grey;
  background-color: $white;
  width: 100%;
  height: 3rem;
  font-family: $sans-serif;
  padding: 0.5rem;
  font-size: 1rem;
  @media screen and(min-width: 769px) {
    font-size: 1.2rem;
    padding: 1rem; 
    margin: 1rem;
    width: calc(100% - 32px);
  }
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.fa-lightbulb {
  color: $yellow;
  font-size: 4rem;
}

.empty {
  margin: 0 auto;
  color: $white;
  text-align: center;
  color: $lightgrey;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  @media screen and (min-width: 769px) {
    font-size: 1.5rem;
  }
}

.empty__claim {
  font-weight: $bold;
  font-size: 1.5rem;
  color: $white;
  margin-bottom: 0.25rem;
  @media screen and (min-width: 769px) {
    font-size: 2rem;
  }
}

.movies {
  width: 100%; 
  display: flex;
  color:$white;
  flex-direction: column;
  @media screen and(min-width: 769px) {
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}


.error {
  text-align: center;
  color: $red;
  font-size: 1.5rem;
  @media screen and (min-width: 769px) {
    font-size: 2rem;
  }
}