@import './variables.scss';
@import './settings.scss';
@import './layout.scss';


.search {
  border: 1px solid $grey;
  background-color: $white;
  width: 100%;
  height: 3rem;
  font-family: $sans-serif;
  padding: 0.5rem;
  font-size: 1rem;
  @media screen and(min-width: 769px) {
    font-size: 1.2rem;
    padding: 1rem;
    height: 4rem; 
  }
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}