@import './variables.scss';
@import './settings.scss';
@import './mixin.scss';
@import './layout.scss';



.card {
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  margin-top: 2rem;
  @media screen and (min-width: 769px) {
    height: 40vh;
    width: 300px;
    cursor: pointer;
  }
}

.card__shadow {
  padding: 1rem;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  background-color:rgba(53, 63, 76, 0.7);
  height: 40vh;
  width: 300px;
  @media screen and (max-width: 769px) {
    width: 100%;
    height: 70vh;
  }
}

.card__content {
  position: absolute;
  bottom: 16px;
}
.card__detail {
  color: $white;
  font-size: 1.5rem;
  &-title {
    margin: 0;
    font-weight: $medium;
  }
  &-year {
    margin: 0;
    font-weight: $regular;
  }
}

.hidden {
  display: none;
}
