@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #0A1014;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  padding: 2rem;
}

@media screen and (min-width: 769px) {
  .container {
    width: 90vw;
    max-width: 1800px;
    margin: 0 auto;
  }
}

.card {
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  margin-top: 2rem;
}

@media screen and (min-width: 769px) {
  .card {
    height: 40vh;
    width: 300px;
    cursor: pointer;
  }
}

.card__shadow {
  padding: 1rem;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  background-color: rgba(53, 63, 76, 0.7);
  height: 40vh;
  width: 300px;
}

@media screen and (max-width: 769px) {
  .card__shadow {
    width: 100%;
    height: 70vh;
  }
}

.card__content {
  position: absolute;
  bottom: 16px;
}

.card__detail {
  color: #fff;
  font-size: 1.5rem;
}

.card__detail-title {
  margin: 0;
  font-weight: 500;
}

.card__detail-year {
  margin: 0;
  font-weight: 400;
}

.hidden {
  display: none;
}
